
.botonAgregar{
    background-color: #050314;
    color: white;
    border: none;
    padding: 0.5em 0.75em;
    font-size: medium;
    margin: 1em 1em;
    font-weight:bold;
    border-radius: 20px;

}   
.input{
    padding: 0.5em;
    width: 40vw;
    border: none;
    border-radius: 20px;
}