.navBar{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color:  rgb(3, 3, 6); 
}
.addButton{
    background-color: #01d020;
    color: white;
    border: none;
    padding: 0.5em 0.75em;
    font-size: medium;
    margin: 1em 1em;
    font-weight:bold;
    border-radius: 20px;

}